#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
  animation: fadeIn 0.8s linear;
}

.chat__time-stamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

@keyframes fadeIn__left {
  from {
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
  }
}

.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeIn__left 0.8s linear forwards;
  animation-delay: 0.8s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}

.message__bubble {
  background-color: white;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
}

@keyframes fadeIn__right {
  from {
    transform: translateX(30px);
  }
  to {
    opacity: 1;
  }
}
.message-row--own {
  justify-content: flex-end;
  animation: fadeIn__right 0.8s linear forwards;
  animation-delay: 0.8s;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 0 10px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 18px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-grin,
.reply:focus-within button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-grin,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within {
  transform: translateY(80px);
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}
