.user-component {
  padding: 10px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--xs {
  width: 60px;
  height: 60px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info__name {
  font-size: 25px;
  font-weight: 500;
}

.user-info__subtitle {
  font-size: 20px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.user-info__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
